56942BMN 8
|_-------_«««\\\\\\''''DRCF TYM
.9FMY8RT.................. Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local
034[;`,`]80# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*

*.njsproj
*.sln
*.sw?
620RN