.vp-doc h2 {
  margin: 8px 0 16px;
  border-top: none;
  border-bottom: 1px solid var(--vp-c-divider);
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.vp-doc blockquote {
  margin: 16px 0;
  padding: 16px 0;
  border-left: 3px solid var(--vp-c-purple);
  background-color: var(--c-bg-accent);
  padding-left: 16px;
  transition: border-color 0.5s;
}

.vp-doc a {
  display: inline-block;
}
.vp-doc h2  {
  margin-top: 16px;
}
.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt);
}

.vp-doc [class*='language-']:before {
  color: var(--vp-c-text-2);
}

.vp-doc table {
  display: table;
  width: 100%;
  margin: 0;
  font-size: 15px;
}

.vp-doc tr {
  border: 1px solid var(--demi-border-color);
}

.vp-doc tr:nth-child(2n) {
  background-color: unset;
}
.vp-doc h1 {
  font-size: 28px;
}

.vp-doc th,
.vp-doc td {
  border: none;
  padding: 10px 20px;
}
.vp-doc code {
  padding: 0 12px!important;
}
.vp-doc th {
  font-size: 15px;
  font-weight: 600;
  background-color: var(--vp-c-white-soft);
}

.vp-doc table td:first-child {
  font-size: 15px;
  font-weight: 600;
}

.VPSidebar {
  background: var(--vp-c-bg)!important;
  border-right: 1px solid var(--vp-c-divider);
  padding-left: 32px !important;
  width: var(--vp-sidebar-width) !important;
  .curtain {
    background: var(--vp-c-bg)!important;
  }
}


.VPContent.has-sidebar {
  padding-right: 0 !important;

  .container {
    max-width: 100% !important;
  }
  .aside-curtain {
    height: 0%!important;
  }
  .content-container {
    max-width: 2050px !important;
  }
  .main {
    width: 100%;
  }
}
.VPContent.has-sidebar {
  padding-left: var(--vp-sidebar-width)!important;
}
.VPNav.no-sidebar {
  .container {
    margin: auto auto auto 0 !important;
    max-width: none!important;
  }
}
.VPNavBar.has-sidebar {
  .container {
    margin: auto auto auto 0 !important;
    max-width: none!important;
  }
  .content {
    padding-right: 32px !important;
    padding-left: var(--vp-sidebar-width) !important;
  }
  .curtain {
    width: calc(100% - var(--vp-sidebar-width))!important;
  }
  .title {
    width: calc(var(--vp-sidebar-width) - 64px) !important;
    padding: 0px !important;
    border-bottom-color: transparent !important;
    margin-left: 16px !important;
  }
}


.VPNavBarTitle .has-sidebar {
  padding: 0;
}

.vp-doc ul, .vp-doc ol {
  margin: 0;
}

.ksg-chart {
  height: 500px;
}
.demoblock {
  position: relative;
  display: flex;
}
.demoblock-view {
  flex: 1;
  display: block!important;
  float: right;
  order: 2;
}
.demoblock-source {
  display: block!important;
  flex: 1;
  float: left;
  order: 1;
}
.demoblock-divider {
  display: none!important;
}
.demoblock-op-btns {
  display: none!important;
}